body {
    font-family: Arial;
    background-color: #FFFFFF;
}

#l-32057925 {
    font-weight: bold;
    color: #002D74;
}

#l-32058049 {
    font-weight: bold;
    color: #002D74;
    text-decoration: underline;
}

#l-32057678 {
    font-weight: bold;
    color: #002D74;
    text-decoration: underline;
}

#l-32057781 {
    font-weight: bold;
    color: #002D74;
    text-decoration: underline;
}

#l-32061649 {
    font-weight: bold;
    color: #002D74;
    text-decoration: underline;
}

#l-32057734 {
    font-weight: bold;
    color: #002D74;
    text-decoration: underline;
}

#l-32057810 {
    font-weight: bold;
    color: #002D74;
    text-decoration: underline;
}

#l-32912030 {
    font-weight: bold;
    color: #002D74;
    text-decoration: underline;
    font-size: 1.33em;
}